/* 
  Copyright © 2018 danyadev
  Лицензия - Apache 2.0

  Контактные данные:
   vk: https://vk.com/danyadev
   или https://vk.com/danyadev0
   telegram: https://t.me/danyadev
   github: https://github.com/danyadev/vk-desktop-app
*/

.content_audio {
  display: flex;
  justify-content: center;
}

.pl50 {
  height: 50px;
  display: none;
}

.audioplayer {
  min-width: 320px;
  max-width: 90vw;
  height: 50px;
  background-color: white;
  box-shadow: 0 1px 0 0 #d7d8db, 0 0 0 1px #e3e4e8;
  border-radius: 4px;
  width: 100%;
  margin: 5px;
  z-index: 1;
  top: 0;
  transition: background-color .3s, box-shadow .3s;
}

.audioplayer_fixed {
  position: fixed;
  margin-top: 44px;
}

.player_cover {
  float: left;
  width: 50px;
  height: 50px;
  border-radius: 4px;
  background-repeat: no-repeat;
  background-color: #f5f6f8;
  background-position: 50%;
  background-image: url('../images/empty_cover.svg');
  transition: background-color .3s;
}

.btns { height: 50px; width: 78px; float: left }

.player_play {
  float: left;
  margin-top: 11px;
  width: 28px;
  height: 28px;
  border-radius: 50%;
  background-color: #5181b8;
  background-image: url('../images/player_play.svg');
  cursor: pointer;
}

.player_pause {
  float: left;
  margin-top: 11px;
  width: 28px;
  height: 28px;
  border-radius: 50%;
  background-color: #5181b8;
  background-image: url('../images/player_pause.svg');
  cursor: pointer;
}

.player_button {
  float: left;
  height: 100%;
  padding: 20px 8px 0 8px;
  cursor: pointer;
}

.player_back {
  float: left;
  height: 10px;
  width: 9px;
  background-position: 50%;
  background-image: url('../images/player_back.svg');
  cursor: pointer;
}

.player_next {
  float: left;
  height: 10px;
  width: 9px;
  background-position: 50%;
  background-image: url('../images/player_next.svg');
  cursor: pointer;
}

.player_name_line {
  float: left;                   /* 128px */
  width: calc(100% - 188px); /* 50px + 78px + ширина кнопок px */
  height: 100%;
  padding-right: 16px;
}

.player_name_wrap {
  height: 25px;
  padding-top: 9px;
}

.player_name {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.player_real_time, .player_played_time {
  float: right;
  padding-left: 8px;
  display: none;
  user-select: none;
  cursor: pointer;
  color: #8c8c8c;
  transition: color .3s;
}

.player_active_time { display: block }

.player_author { font-weight: 500 }

.player_progress_wrap {
  cursor: pointer;
  height: 25px;
  padding-top: 10px;
}

.player_progress {
  position: relative;
  height: 3px;
}

.player_progress_all {
  background-color: #e1e8ee;
  height: 100%;
  transition: background-color .3s;
}

.player_progress_loaded {
  background-color: #b8c7d7;
  height: 100%;
  width: 0%;
  position: absolute;
  top: 0;
  left: 0;
  transition: background-color .3s, width .2s;
}

.player_progress_played {
  background-color: #5181b8;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  transition: background-color .3s, width .1s;
}

.player_progress_wrap:hover .player_progress_played::after,
.player_volume_wrap:hover .player_volume_this::after,
.player_progress_active .player_progress_played::after,
.player_volume_active .player_volume_this::after {
  opacity: 1;
  position: absolute;
  top: -3px;
  right: -5px;
  display: inline-block;
  content: '';
  width: 9px;
  height: 9px;
  border: none;
  border-radius: 50%;
  background: #5181b8;
  user-select: none;
}

.player_utils {
  float: left;
  width: 60px;
  height: 100%;
  padding-right: 6px;
}

.player_util_icons {
  height: 30px;
  padding-top: 5px;
}

.player_icon {
  width: 24px;
  height: 22px;
  -webkit-mask-size: cover;
  background-color: #a6a6a6;
  cursor: pointer;
  transition: background-color .3s;
}

.player_icon.active {
  background-color: #5181b8;
}

.player_icon_repeat { -webkit-mask-image: url('../images/audio_repeat.png') }

.player_volume_wrap {
  cursor: pointer;
  height: 20px;
  padding-top: 5px;
}

.player_volume {
  position: relative;
  height: 3px;
}

.player_volume_all {
  background-color: #e1e8ee;
  height: 100%;
  user-select: none;
  transition: background-color .3s;
}

.player_volume_this {
  background-color: #5181b8;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  transition: background-color .3s, width .1s;
}

.audiolist_wrap {
  background-color: white;
  box-shadow: 0 1px 0 0 #d7d8db, 0 0 0 1px #e3e4e8;
  border-radius: 4px;
  min-width: 320px;
  width: 90vw;
  margin: 5px;
  padding: 1px 5px 1px 5px;
  transition: background-color .3s, box-shadow .3s;
}

.audiolist_info {
  width: 220px;
  margin: 30px auto;
  text-align: center;
}

.audiolist_utils {
  display: none;
  margin: 20px 0;
}

.shuffle {
  height: 24px;
  cursor: pointer;
  user-select: none;
}

.shuffle_icon {
  width: 24px;
  height: 22px;
  -webkit-mask-size: cover;
  -webkit-mask-image: url('../images/shuffle.png');
  background-color: #356CA9;
  float: left;
  margin-right: 10px;
}

.shuffle_text {
  float: left;
  margin-top: 1.5px;
}

.audio_item, .audio_item_locked {
  min-width: 310px;
  max-width: 90vw;
  height: 50px;
  position: relative;
  border-radius: 4px;
  transition: background-color .3s;
  margin: 5px 0;
}

.audio_item_locked { opacity: 0.6 }
.audio_item_locked:hover { opacity: 0.8 }

.audio_item:hover, .audio_item_active {
  background-color: #f2f4f7;
  transition: background-color .3s;
}

.audio_covers {
  float: left;
  width: 48px;
  height: 100%;
}

.audio_cover_play, .audio_cover, .audio_cover_stop {
  width: 40px;
  height: 40px;
  position: absolute;
  border-radius: 4px;
  top: 5px;
  left: 4px;
  background-repeat: no-repeat;
  background-position: 50%;
  transition: background-color .5s;
  cursor: pointer;
}

.audio_cover {
  background-image: url('../images/audio_row_placeholder.png');
  background-size: cover;
}

.audio_cover_play:hover, .audio_cover_has_play {
  background-color: rgba(0,0,0,.5);
  background-image: url('../images/audio_play.svg');
}

.audio_cover_stop {
  background-color: rgba(0,0,0,.5);
  background-image: url('../images/audio_stop.svg');
}

.audio_names {
  float: left;
  margin-left: 3px;
  width: calc(100% - 110px);
}

.audio_name { margin-top: 5px; font-weight: 500 }
.audio_author { color: #939393 }

.audio_name, .audio_author {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.audio_right_block {
  float: right;
  height: 100%;
  padding-top: 14px;
}

.audio_real_time, .audio_played_time {
  float: right;
  display: none;
  padding-right: 5px;
}

.audio_active_time { display: block }

.audio_download, .audio_downloaded {
  width: 24px;
  height: 22px;
  background-color: #999;
  -webkit-mask-size: cover;
  transition: background-color .3s;
  cursor: pointer;
}

.audio_download { -webkit-mask-image: url('../images/audio_download.png') }
.audio_download:hover { background-color: #666 }
.audio_downloaded { -webkit-mask-image: url('../images/check.png') }
.audio_downloaded:hover { background-color: #888 }