/*
  Copyright © 2018 danyadev
  Лицензия - Apache 2.0

  Контактные данные:
   vk: https://vk.com/danyadev
   или https://vk.com/danyadev0
   telegram: https://t.me/danyadev
   github: https://github.com/danyadev/vk-desktop-app
*/

.group_wrap {
  padding: 15px;
}

.group_item {
  background-color: white;
  width: 100%;
  /*max-width: 550px;*/
  height: 80px;
  padding: 5px;
  box-shadow: 0 1px 0 0 #d7d8db, 0 0 0 1px #e3e4e8;
  border-radius: 2px;
  margin: 0 auto 10px auto;
}

.group_img {
  width: 70px;
  height: 70px;
  border-radius: 50%;
  float: left;
  margin-right: 12px;
  background-repeat: no-repeat;
  background-size: cover;
  cursor: pointer;
}

.group_names {
  float: left;
  padding-top: 2px;
  width: calc(100% - 92px);
}

.group_name, .group_type, .group_subs {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.group_name {
  color: #2a5885;
  cursor: pointer;
  display: inline;
}

.group_type, .group_subs {
  color: #656565;
  padding-top: 4px;
}
