/*
  Copyright © 2018 danyadev
  Лицензия - Apache 2.0

  Контактные данные:
   vk: https://vk.com/danyadev
   или https://vk.com/danyadev0
   telegram: https://t.me/danyadev
   github: https://github.com/danyadev/vk-desktop-app
*/

.header {
  width: 100%;
  height: 44px;
  background-color: #4a76a8;
  float: right;
  position: fixed;
  top: 0;
  z-index: 10;
  box-shadow: 0 0 3px rgba(0,0,0,0.5);
  transition: background-color .3s, box-shadow .3s;
}

.open_menu {
  transition: all .3s;
  width: 44px;
  height: 44px;
  float: left;
  transition: background-color .3s;
}

.open_menu:hover {
  background-color: #3f638c;
  cursor: pointer;
}

.open_menu_icon {
  width: 100%;
  height: 100%;
  background-color: white;
  -webkit-mask-position: 0 -44px;
  -webkit-mask-image: url('../images/m_vk_header.png');
  transition: background-color .3s;
}

.menu {
  width: 250px;
  height: 100%;
  top: 0;
  overflow: auto;
  display: inline-block;
  position: fixed;
  z-index: 11;
  background-color: white;
  transition: left .4s, background-color .3s;
  box-shadow: 0 0 20px rgba(0,0,0,0.5);
  overflow-x: hidden;
}

.menu_account_item {
  height: 125px;
  width: 250px;
  padding: 8px 10px 0 12px;
  background-color: rgba(38, 37, 37, 0.5);
  transition: all .3s;
}

.menu_account_bgc {
  position: absolute;
  width: 250px;
  height: 125px;
  top: -1px;
  right: 1px;
  z-index: -1;
  background-repeat: no-repeat;
  background-position: 0 -45px;
  background-size: 100%;
  filter: blur(4px);
}

.menu_multiacc {
  width: 24px;
  height: 22px;
  position: absolute;
  z-index: 100;
  right: 10px;
  background-color: white;
  -webkit-mask-size: cover;
  -webkit-mask-image: url('../images/menu_groups.png');
  cursor: pointer;
}

.acc_icon {
  border-radius: 50%;
  width: 56px;
  height: 56px;
  background-size: 100%;
  cursor: pointer;
}

.menu_acc_name, .menu_acc_status {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  -webkit-font-smoothing: subpixel-antialiased;
}

.menu_acc_name {
  margin-top: 12px;
  color: #fff;
}

.menu_acc_status {
  font-size: 13px;
  color: #d9d9d9;
}

::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}

::-webkit-scrollbar-thumb {
  border-radius: 25px;
  background-color: rgba(143, 143, 143, 0.7);
}

.menu_item {
  height: 44px;
  padding-top: 10px;
  padding-right: 50px;
  transition: background-color .3s;
  cursor: pointer;
  background-color: white;
}

.menu_item_active { transition: background-color .3s }

.menu_item:hover, .menu_item_active:not(.menu_account_item) {
  background-color: #ebeced;
}

.menu_icon {
  width: 24px;
  height: 22px;
  margin-left: 10px;
  background-color: #a6a6a6;
  -webkit-mask-size: cover;
}

.menu_news_icon     { -webkit-mask-image: url('../images/menu_news.png')          }
.menu_mess_icon     { -webkit-mask-image: url('../images/menu_messages.png')      }
.menu_music_icon    { -webkit-mask-image: url('../images/menu_music.png')         }
.menu_notify_icon   { -webkit-mask-image: url('../images/menu_notifications.png') }
.menu_friends_icon  { -webkit-mask-image: url('../images/menu_friends.png')       }
.menu_groups_icon   { -webkit-mask-image: url('../images/menu_groups.png')        }
.menu_photos_icon   { -webkit-mask-image: url('../images/menu_photos.png')        }
.menu_videos_icon   { -webkit-mask-image: url('../images/menu_videos.png')        }
.menu_settings_icon { -webkit-mask-image: url('../images/menu_settings.png')      }

.menu_icon, .menu_item_name { float: left }

.menu_item_name {
  margin: 1px 0 0 10px;
  user-select: none;
  transition: color .3s;
}

.content {
  margin-top: 44px;
  transition: background-color .3s, color .3s;
  height: calc(100vh - 44px);
  overflow: auto;
  background: #f2f2f2;
}

.tab_content { display: none }

.content_active {
  display: block;
  height: calc(100vh - 44px);
}

.no_inet_btn {
  margin: 10px auto 0 auto;
  padding: 7px 16px 8px;
  font-size: 12.5px;
  cursor: pointer;
  user-select: none;
  line-height: 15px;
  text-align: center;
  background-color: #e5ebf1;
  color: #55677d;
  border-radius: 4px;
  width: 150px;
}

.account_list_modal {
  /* display: flex; */
  display: none;
  position: absolute;
  top: 44px;
  justify-content: center;
  align-items: center;
  position: absolute;
  z-index: 10;
  padding: 20px 0;
  width: 100%;
  height: calc(100vh - 44px);
  background-color: rgba(0, 0, 0, .5);
  user-select: none;
}

.account_list {
  min-height: 250px;
  width: 350px;
  border-radius: 3px;
  background-color: #fcfcfc;
  box-shadow: 0 2px 10px rgba(0,0,0,.35);
  padding: 10px;
}

.account_header {
  font-size: 18px;
  font-weight: 600;
  margin: 0 0 16px 5px;
}

.account_item {
  width: 100%;
  margin: 0 auto 10px auto;
  height: 55px;
}

.account_image {
  border-radius: 50%;
  width: 50px;
  float: left;
  margin-right: 12px;
}

.account_names {
  float: left;
  padding-top: 2px;
}

.account_name {
  font-size: 16px;
}

.account_login {
  padding-top: 4px;
  color: #656565;
}

.user_banned {
  display: none;
  position: absolute;
  top: 0;
  z-index: 100;
  background: #f2f2f2;
  width: 100%;
  height: 100%;
}

.user_banned_info {
  display: inline-block;
  margin: 0 auto;
}
