/* 
  Copyright © 2018 danyadev

  Контактные данные:
   vk: https://vk.com/danyadev
   telegram: https://t.me/danyadev
   альтернативная ссылка: https://t.elegram.ru/danyadev
   github: https://github.com/danyadev/vk-desktop-app
*/

/* стили для блоков и шапки */
.dark_theme .theme_block {
  background-color: #333336;
  box-shadow: 0 0 0 1px #282828;
}

/* стили для фона */
.dark_theme .theme_bgc {
  background-color: #222226;
  color: #bbb;
}

/* стили для меню */
.dark_theme .theme_menu {
  background-color: #222226;
  color: #bbb;
}

.dark_theme .group_name {
  color: #ebebeb;
}

.dark_theme .group_type,
.dark_theme .group_subs {
  color: #919191;
}

.dark_theme .input,
.dark_theme .settings_input { border: 1px solid #282828 }

.dark_theme .settings_line:not(:last-child) {
  border-bottom: 1px solid #282828;
}

/* стили для выделенных в меню элементов */
.dark_theme .menu_item:hover,
.dark_theme .menu_item_active:not(.menu_account_item),
.twilight_theme .option.active {
  background-color: #2e2e33;
}

.dark_theme .select,
.dark_theme .select_list {
  box-shadow: 0 0 0 1px #282828;
}

.dark_theme .select_list {
 background-color: #222226;
}

/* стили для выделенных в настройках в меню элементов */
.dark_theme .settings_tab:hover,
.dark_theme .settings_tab_active,
.dark_theme .option.active {
  background-color: #3f3f42;
}

/* .login_title {
  color: #a3a3a3;
}

.input_form input, .captcha_key input {
  background-color: #191919;
  border: 1px solid #0f0f0f;
  color: #a3a3a3;
}

.input_form input:hover, .captcha_key input:hover { border: 1px solid #080808 }
.input_form input:focus, .captcha_key input:focus { border: 1px solid #000000 }

.input_form input[type=button], .captcha_btn input {
  border: none;
}

a {
  color: #d9d9d9;
}

::-webkit-input-placeholder { color: #939699 } */

/* стили для кнопки открытия меню при наведении */
.dark_theme .open_menu:hover { background-color: #3e3e42 }

/* и для самой иконки */
.dark_theme .open_menu_icon { background-color: #bbbbbb }

/* стили для пустого кавера в плеере */
.dark_theme .player_cover { background-color: #414145 }

/* стили для полоски перемотки трека */
.dark_theme .player_progress_all { background-color: #4a4a4a }
.dark_theme .player_progress_loaded { background-color: #616161 }
.dark_theme .player_progress_played { background-color: #8f8f8f }

/* стили для полоски изменения громкости */
.dark_theme .player_volume_all { background-color: #4a4a4a }
.dark_theme .player_volume_this { background-color: #8f8f8f }

/* стили для точки у перемотки трека и громкости */
.dark_theme .player_progress_wrap:hover .player_progress_played::after,
.dark_theme .player_volume_wrap:hover .player_volume_this::after,
.dark_theme .player_progress_active .player_progress_played::after,
.dark_theme .player_volume_active .player_volume_this::after {
  background-color: #8f8f8f;
}

/* стили для выделенной аудиозаписи */
.dark_theme .audio_item:hover,
.dark_theme .audio_item_active {
  background-color: #3e3e42;
}