/* 
  Copyright © 2018 danyadev

  Контактные данные:
   vk: https://vk.com/danyadev
   telegram: https://t.me/danyadev
   альтернативная ссылка: https://t.elegram.ru/danyadev
   github: https://github.com/danyadev/vk-desktop-app
*/

/* стили для блоков и шапки */
.twilight_theme .theme_block {
  background-color: #2B3034;
  box-shadow: 0 0 0 1px #222629;
}

/* стили для фона */
.twilight_theme .theme_bgc {
  background-color: #26292E;
  color: #c2c2c2;
}

/* стили для меню */
.twilight_theme .theme_menu {
  background-color: #26292E;
  color: #c2c2c2;
}

.twilight_theme .group_name {
  color: #ebebeb;
}

.twilight_theme .group_type,
.twilight_theme .group_subs {
  color: #919191;
}

.twilight_theme .input,
.twilight_theme .settings_input { border: 1px solid #222629 }

.twilight_theme .settings_line:not(:last-child) {
  border-bottom: 1px solid #222629;
}

/* стили для выделенных в меню элементов */
.twilight_theme .menu_item:hover,
.twilight_theme .menu_item_active:not(.menu_account_item),
.twilight_theme .option.active {
  background-color: #30343b
}

.twilight_theme .select,
.twilight_theme .select_list {
  box-shadow: 0 0 0 1px #222629;
}

.twilight_theme .select_list {
 background-color: #26292E;
}

/* стили для выделенных в настройках в меню элементов */
.twilight_theme .settings_tab:hover,
.twilight_theme .settings_tab_active {
  background-color: #353b40;
}

/* стили для кнопки открытия меню при наведении */
.twilight_theme .open_menu:hover { background-color: #353C43 }

/* и для самой иконки */
.twilight_theme .open_menu_icon { background-color: #bbbbbb }

/* стили для пустого кавера */
.twilight_theme .player_cover { background-color: #363d42 }
.twilight_theme .audio_cover { background-color: #363d42 }

/* стили для полоски перемотки трека */
.twilight_theme .player_progress_all { background-color: #4a4a4a }
.twilight_theme .player_progress_loaded { background-color: #616161 }
.twilight_theme .player_progress_played { background-color: #8f8f8f }

/* стили для полоски изменения громкости */
.twilight_theme .player_volume_all { background-color: #4a4a4a }
.twilight_theme .player_volume_this { background-color: #8f8f8f }

/* стили для точки у перемотки трека и громкости */
.twilight_theme .player_progress_wrap:hover .player_progress_played::after,
.twilight_theme .player_volume_wrap:hover .player_volume_this::after,
.twilight_theme .player_progress_active .player_progress_played::after,
.twilight_theme .player_volume_active .player_volume_this::after {
  background-color: #8f8f8f;
}

/* стили для выделенной аудиозаписи */
.twilight_theme .audio_item:hover,
.twilight_theme .audio_item_active {
  background-color: #383f45;
}
