/* 
  Copyright © 2018 danyadev

  Контактные данные:
   vk: https://vk.com/danyadev
   telegram: https://t.me/danyadev
   альтернативная ссылка: https://t.elegram.ru/danyadev
   github: https://github.com/danyadev/vk-desktop-app
*/

@import "themes/blue.css";
@import "themes/dark.css";
@import "themes/twilight.css";

@import "css/login.css";
@import "css/ui.css";
@import "css/audio.css";
@import "css/settings.css";
@import "css/news.css";
@import "css/groups.css";
@import "css/friends.css";

* { box-sizing: border-box }

body {
  font-family: '-apple-system', 'BlinkMacSystemFont', 'Roboto',
               'Segoe UI', 'Helvetica Neue', 'Arial', sans-serif;
  font-size: 14px;
  margin: 0;
  overflow: hidden;
}