/* 
  Copyright © 2018 danyadev

  Контактные данные:
   vk: https://vk.com/danyadev
   telegram: https://t.me/danyadev
   альтернативная ссылка: https://t.elegram.ru/danyadev
   github: https://github.com/danyadev/vk-desktop-app
*/

@import "css/login.css";
@import "css/ui.css";
@import "css/audio.css";
@import "css/settings.css";

* { box-sizing: border-box }

body {
  font-family: 'Segoe UI', 'Helvetica Neue', 'Arial', sans-serif;
  font-size: 14px;
  margin: 0;
  min-width: 300px;
  overflow: hidden;
}